body {
  margin: 0;
  background-color: #F7F7F7;
}

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 9.5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: #fff;
  left: 4%;
  font-size: 3.5rem;
  margin-top: 20%;
}

.move-down {
  margin-bottom: -15%
}

#about-header {
  margin-top: -17%;
}

.mobile {
  display: none;
}
#header-box {
  margin-top: 12vh;
  margin-left: 5%;
  margin-right: 5%;
}

#triangle-box {
  width: 100vw;
  margin-top: 3px;
}

#about{
  margin-top: -7px;
}
#works {
  margin-top: -6px;
}
#skills, #resume, #contact {
  margin-top: -2px;
}
#menu-close:focus {
  outline: none;
}

#first-top-triangle {
  margin-top: -1px;
}

.triangle-change {
  transition: all 1.5s;
}

.triangle-mobile-bottom {
  display: none;
}

.triangle-mobile-top {
  display: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  margin-top: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

#bio {
  width: 450px;
}

.bigger {
  font-size: 1.7rem;
  font-weight: 500;
  /*color: #61879E;*/
  margin-bottom: 15px;
}

#bio-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#bio a {
  /*color: #61879E;*/
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
}

#bio a:hover {
  color: #47568B;
}

#headshot {
  height: 250px;
}

h4 {
  margin-left: 4%;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 6px;
  /*color: #3D306C;*/
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 6px;
  margin-top: 8px;
}

h6 {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 6px;
  /*color: #3D306C;*/
}

ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

#menu ul {
  text-align: right;
}

.skills-column {
  display: flex;
  justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
}

#other-skills ul {
  font-size: .8rem;
}

#subtitle {
  font-size: 1.1rem;
  margin-left: 6%;
  margin-right: 6%;
}

#mobile-triangle-box {
  display:none;
  width: 100vw;
  margin-top: 3px;
}

.triangle-desktop-bottom, .triangle-mobile-bottom  {
  margin-top: 5%;
}

#works-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-box {
  margin: 10px 1%;
  position: relative;
}

#works-instructions {
  margin: -10% 5% 8% 50%;
}

.portfolio-image {
  max-width: 350px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  cursor: pointer;
}

.overlay-text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-box:hover .overlay {
  opacity: .8;
}

.filler {
  width: 350px;
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.portfolio-modal {
  position: fixed;
  top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #f7f7f7;
  border: 20px double #47568B;
  width: 76vw;
}

.modal-close {
  margin: 15px;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
}

.modal-close:hover {
  color: #bbb;
}

.modal-description {
  margin-left: 25px;
}

.modal-description p {
  font-size: 1rem;
  margin-bottom: 5px;
  width: 90%;
  padding-left: 5%;
}

.modal-top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.5vh;
}

.modal-top img {
  max-width: 100%;
  max-height: 50vh;
}

.skills {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 30px;
}

.link-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}


.site-link {
  text-decoration: none;
  width: 240px;
  height: 50px;
  background-color: #47568B;
  border-radius: 30px;
  border: none;
}

.site-link:hover {
  background-color: #3D306C;
}

.site-link p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.triangle-bottom-up {
  margin-top: 1%;
}

.triangle-top-up {
  margin-top: -4px;
}

#contact-container {
  width: 70%;
  margin: 30px auto;
}

#contact-container a {
  text-decoration: none;
  cursor: pointer;
  color: #61879E;
}

#contact-container a:hover {
  color: #3D306C;
}

.last-triangle {
  margin-bottom: -5px;
}

.resume-line {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  position: fixed;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 55px;
  font-size: 1.2rem;
}

.resume-border {
  width: 75%;
  height: 1px;
  background-color: #805F81;
  margin: 30px auto;
}

.resume-info {
  width: 35%;
}

.resume-resp {
  width: 50%;
}

.resume-resp ul {
  list-style-type: disc;
  margin-top: calc(1.3rem + 15px);
  font-size: .9rem;
}

.job-title, .job-time {
  margin-bottom: 4px;
  font-size: .9rem;
}

.job-comp {
  margin-bottom: 8px;
  font-weight: 500;
  /*color: #805F81;*/
}

#resume-triangle-top {
  margin-top: -5px;
}

#top {
  position: absolute;
  top: 0;
}

nav {
  position: fixed;
  cursor: pointer;
  z-index: 10;
  top: 35px;
  right: 30px;
}

#hamburger {
  display: flex;
  flex-direction: column;
  background-color: #dde0e4;
  opacity: .85;
  border-radius: 10px;
  padding: 10px 15px;
}

#hamburger svg {
  margin-top: 3px;
}

#menu-close {
  font-size: 2rem;
  color: #fff;
  padding-left: 150px;
  padding-top: 15px;
  cursor: pointer;
}

#menu {
  width: 200px;
  position: fixed;
  transition: background-color 1.5s;
  transition: right .3s;
  z-index: 11;
  background-color: #000;
  top: 0px;
  right: -200px;
}

#menu a {
  text-decoration: none;
}

#menu li {
  padding: 15px 35px;
  margin-left: -40px;
  margin-right: -20px;
  color: white;
  cursor: pointer;
}

#menu li:hover {
  background-color: #dde0e4;
}

#contact-triangle {
  margin-top: -5px;
}

@media screen and (max-width: 1020px) {
  h1 {
    font-size: 7.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
    left: 9%;
    margin-top: 23%;
  }
  #bio-text{
    font-size: 1rem;
  }
  .bigger p{
    font-size: 1.3rem;
  }
  #triangle-box {
    display: none;
  }

  #mobile-triangle-box {
    display: block;
    margin-top: 10%;
    margin-bottom: -1px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .modal-top img {
    max-width: 100%;
  }
  #works {
    margin-top: 0px;
  }
  .modal-description {
    margin-top: 15px;
    margin-left: 0px;
  }
  .modal-description p {
    width: 100%;
    padding-left: 0px;
    font-size: .8rem;
    margin-bottom: 0px;
  }
  .modal-top {
    flex-wrap: wrap;
  }
  .skills {
    font-size: .9rem;
    margin-top: 15px;
  }
  .skills-column {
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .site-link {
    margin: 10px;
    height: 40px;
  }
  .site-link p{
    font-size: .9rem;
    margin-top: .7rem;
  }
  .link-box {
    margin-top: 10px;
  }
  #bio {
    margin-bottom: 10px;
  }
  .triangle-mobile-top {
    margin-top: -1px;
    margin-left: -1px;
  }
}

@media screen and (max-width: 769px) {
  .resume-line {
    flex-direction: column;
  }
  .resume-resp, .resume-info {
    width: 100%;
  }
  .resume-resp ul {
    margin-top: 10px;
  }
  #resume-container {
    margin-top: 20px;
  }
  .resume-border {
    margin: 20px auto;
  }
}

@media screen and (max-width: 550px) {
  nav {
    right: 15px;
  }
  #hamburger {
    padding: 8px 12px;
    border-radius: 8px;
  }
  h1 {
    font-size: 4.3em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5em;
  }
  h6 {
    margin-top: 10px;
  }
  #headshot {
    height: 210px;
  }
  .bigger {
    font-size: 1rem;
    margin-top: 5px;
  }
  #bio-text{
    font-size: .8rem;
  }
  #bio a {
    font-size: 1rem;
  }
  #bio {
    margin-bottom: 10px;
  }
  .link-box {
    flex-direction: column;
    margin-left: 6vw;
    margin-top: 15px;
  }
  .site-link {
    width: 60vw;
    margin-top: 5px;
  }
  #works-instructions {
    font-size: 1rem;
    margin: 10px 6vw;
  }
  .resume-resp li {
    font-size: .8rem;
  }
  .job-comp {
    font-size: 1.05rem;
  }
  .job-title, .job-time {
    font-size: .87rem;
  }
  #contact-container p {
    font-size: .9rem;
  }
  .modal-title {
    font-size: 1rem;
    margin-top: 22px;
  }
  nav {
    top: 20px;
  }
  .modal-top img {
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
  }
  #first-mobile-triangle {
    margin-top: -2px;
    margin-left: -2px;
  }
}
