body {
  margin: 0;
  background-color: #F7F7F7;
}

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 9.5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: #fff;
  left: 4%;
  font-size: 3.5rem;
  margin-top: 6%;
}

#header-box {
  margin-top: 12vh;
  margin-left: 5%;
  margin-right: 5%;
}

#triangle-box {
  width: 100vw;
  margin-top: 3px;
}

#about, #works {
  margin-top: -5px;
}

#first-top-triangle {
  margin-top: -1px;
}

.triangle-change {
  transition: all 2s;
}

.triangle-mobile-bottom {
  display: none;
}

.triangle-mobile-top {
  display: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  margin-top: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

#bio {
  width: 450px;
}

#headshot {
  height: 250px;
}

#mobile-triangle-box {
  display:none;
  width: 100vw;
  margin-top: 3px;
}

.mobile-triangle {
  display: none;
}

.triangle-desktop-bottom, .triangle-mobile-bottom  {
  margin-top: 5%;
}

#works-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-box {
  margin: 2% 1%;
  position: relative;
}

#works-instructions {
  margin: -10% 5% 8% 50%;
}

.portfolio-image {
  max-width: 350px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  cursor: pointer;
}

.overlay-text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-box:hover .overlay {
  opacity: .8;
}

.filler {
  width: 350px;
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.portfolio-modal {
  position: fixed;
  top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #f7f7f7;
  border: 20px double #47568B;
  width: 76vw;
  height: 85vh;
}

.fa-close {
  margin: 15px;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
}

.fa-close:hover {
  color: #bbb;
}

.modal-description {
  margin-left: 25px;
}

.modal-description p {
  font-size: 1rem;
  margin-bottom: 5px;
  width: 90%;
  padding-left: 5%;
}

.modal-top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.5vh;
}

.modal-top img {
  max-width: 100%;
  max-height: 50vh;
}

.skills {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 30px;
}

.link-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


.site-link {
  text-decoration: none;
  width: 240px;
  height: 50px;
  background-color: #47568B;
  border-radius: 30px;
  border: none;
}

.site-link:hover {
  background-color: #3D306C;
}

.site-link p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.works-triangle-bottom {
  margin-top: 1%;
}

@media screen and (max-width: 1020px) {
  h1 {
    font-size: 7.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
    margin-top: 6%;
    left: 9%;
  }
  #bio p{
    font-size: 1rem;
  }
  #triangle-box {
    display: none;
  }
  .desktop-triangle {
    display: none;
  }
  .mobile-triangle {
    display: block;
  }
  #mobile-triangle-box {
    display: block;
    margin-top: 10%;
    margin-bottom: -1px;
  }
  .triangle-mobile-bottom {
    display: block;
  }
  .triangle-mobile-top {
    display: block;
  }
  .triangle-desktop-bottom {
    display: none;
  }
  .triangle-desktop-top {
    display: none;
  }
  .modal-top img {
    max-width: 100%;
  }
  #works {
    margin-top: 0px;
  }
  .modal-description {
    margin-top: 15px;
    margin-left: 0px;
  }
  .modal-description p {
    width: 100%;
    padding-left: 0px;
    font-size: .8rem;
    margin-bottom: 0px;
  }
  .modal-top {
    flex-wrap: wrap;
  }
  .skills {
    font-size: .9rem;
    margin-top: 15px;
  }
  .site-link {
    margin: 10px;
    height: 40px;
  }
  .site-link p{
    font-size: .9rem;
    margin-top: .7rem;
  }
  .link-box {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 4.3em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  #headshot {
    height: 210px;
  }
  #bio p{
    font-size: .8rem;
  }
  .link-box {
    flex-direction: column;
    margin-left: 6vw;
    margin-top: 15px;
  }
  .site-link {
    width: 60vw;
    margin-top: 5px;
  }
  #works-instructions {
    font-size: 1rem;
    margin: 10px 6vw;
  }
}
